<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin-left:auto;
            margin-right: auto;
            text-align: center;
        }
        h1 span {
            text-align: center;
        }

        td{
            padding: 1.5rem;
        }

        table {
            margin-top: 5rem;
        }
        .pokelist{
            display: flex;
        }
        .pokelist + td {
            flex: 50%;
        }



    </style>
</head>

<body data-th-object="${list}">
    <h1><span data-th-text="${type}"></span> Type Pokemon</h1>

    <table >
        <tbody >
            <tr>
                <th>Pokemon</th>
                <th>PokeImage</th>
            </tr>
            <div class="pokelist">
                <tr th:each="poke : ${list}" >
                    <td><span th:text="${poke.pokemonName}"></span></td>
                    <td><img data-th-src="@{${poke.img}}" style="height: 200px; width:200px;"></td>
                </tr>
            </div>
            

        </tbody>

    </table>

    <form action="/types">
        <input type="submit" value="Go Back">
    </form>


</body>

</html>